@font-face {
    font-family: 'Abel';
    src: local('Abel'), url('../assets/fonts/Abel/Abel-Regular.ttf') format('truetype')
  }
  
  @font-face {
    font-family: 'Thasadith Bold';
    src: local('Thasadith Bold'), url('../assets/fonts/Thasadith/Thasadith-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Thasadith BoldItalic';
    src: local('Thasadith BoldItalic'), url('../assets/fonts/Thasadith/Thasadith-BoldItalic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Thasadith Italic';
    src: local('Thasadith Italic'), url('../assets/fonts/Thasadith/Thasadith-Italic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Thasadith Regular';
    src: local('Thasadith Regular'), url('../assets/fonts/Thasadith/Thasadith-Regular.ttf') format('truetype');
  }
  